# shamefully-hoist=true
public-hoist-pattern[]=@supabase/auth-js*
public-hoist-pattern[]=@supabase/functions-js*
public-hoist-pattern[]=@supabase/node-fetch*
public-hoist-pattern[]=@supabase/postgres-js*
# public-hoist-pattern[]=@supabase/storage-js*
# public-hoist-pattern[]=@supabase/supabase-js*
